{% extends 'base.html' %}

{% block body %}
<body>
    <div class="generic-grid-container">
      {% if messages %}
        <div class="messages">
            {% for msg in messages %} 
            <strong>{{ msg }}</strong>
            <button type="button" class="close">x</button>
            {% endfor %}     
          </div>
      {% endif %}
    
      <div class="form-container"> 
        <form class=generic-form method='POST'>
            {% csrf_token %}
            
          <div id="header">
            {% block header %}{% endblock %}
          </div>
          
          <div class="form-item-container">
           <div class="form-item username">
             {% block username %}{% endblock %}
            </div> 
            
            <div class="form-item email">
              {% block email %}{% endblock %}
            </div>
            
            <div class="form-item password">
              {% block password %}{% endblock %}
            </div>
            
            <div class="form-item button">
              <button>{% block button_text%}{%endblock%}</button>
            </div>
            
          </div>
          
          <div class="actions">
            {% block action %}{% endblock %}
          </div>
        </form>
        
      </div>
      
    </div>
  </body>

{% endblock %}