{% extends 'index.html' %} 

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <title>Forgot Password </title>
{% endblock %}

{% block header %}
    <span class="header">Forgot Password</span>
{% endblock %}

{% block email %}
    {{ form.email.errors }}
    {{ form.email }}
{% endblock %}

{% block button_text %}
    Send Email
{% endblock %}

{% block action %} 
    <a href="{% url 'taskapp-login'%}">Already have an account</a>
{% endblock %}