{% extends 'index.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <title>Login</title>
{% endblock %}

{% block header %}
    <span class="header">Login</span>
{% endblock %}

{% block email %}
    {{ form.email.errors }}
    {{ form.email }}
{% endblock %}

{% block password %}
    {{ form.password.errors }}
    {{ form.password }}
{% endblock %}

{% block button_text %}
    Login
{% endblock %}

{% block action %}
    <a href="{% url 'taskapp-register' %} "> Need An Account </a>
    <a href="{% url 'taskapp-forgotpassword' %}"> Forgot Password </a>
{% endblock %}